main {
	display: flex;
	flex-direction: column;

}
.first-container {
    display: flex;
	width: 95%;
	border: 5px solid green;
	justify-content: space-between;
	align-self: center;
}

.first-text {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-cards {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.section-cards div {
	width: 80%;
	border: 2px solid red;
	margin: 50px;
	padding: 10px;
}

.first-container video {
	width: 12rem;
}